<h1>Lista de resultados</h1>

<table style="width:100%">
  <tr>
    <th>Nombre</th>
    <th>Tipo</th>
  </tr>
  <%for elemento in @lista_resultados do %>
    <tr>
      <td><%= elemento[1]%></td>
      <td><%= elemento[2]%></td>
    </tr>
  <% end %>
</table>
