table, th, tr, tbody, td {
  border: 5px solid black;
  text-align: center;
  border-collapse: collapse;
  font-size: 30px

}

tbody{
  background-color: #33FFBB  ;
}

body {
  background-image: url("download.jpeg");
}

.title{
  background-color: #33FFBB;
  color: black;
  width: 990px;
  text-align: center;
  font-size: 35px;
}

.buscador{
  text-align: right;
}

input[type=text] {
  width: 20%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-size: 20px;
  button: 20px;
}

.button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
